# In fact we want uimlnet to depend on at least one of the backends
# -> make a metapackage renderer that depends on one of them, and let uimlnet depend on uimlnet-renderer?

Source: uimlnet
Section: libs
Priority: optional
Maintainer: Panagiotis Issaris <takis@issaris.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: uimlnet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cassowarynet
Recommends: uimlnet-wxnet|uimlnet-swf|uimlnet-gtk-sharp, uimlnet-xml-rpc
Suggests: boo, nemerle
Description: A Uiml renderer for .Net
 Uiml.Net is a free UIML renderer written in C#. It can render a UIML document
 using different widget sets and different platforms. uiml.net supports Gtk#,
 System.Windows.Forms, System.Windows.Forms on the Compact .Net Framework, and a
 small part of Wx.Net.

Package: uimlnet-wxnet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uimlnet, wxnet0
Description: A Uiml renderer for .Net
 Uiml.Net is a free UIML renderer written in C#. It can render a UIML document
 using different widget sets and different platforms. uiml.net supports Gtk#,
 System.Windows.Forms, System.Windows.Forms on the Compact .Net Framework, and a
 small part of Wx.Net.
 .
 This package contains the Wx.Net renderer.

Package: uimlnet-swf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uimlnet, libgdiplus
Description: A Uiml renderer for .Net
 Uiml.Net is a free UIML renderer written in C#. It can render a UIML document
 using different widget sets and different platforms. uiml.net supports Gtk#,
 System.Windows.Forms, System.Windows.Forms on the Compact .Net Framework, and a
 small part of Wx.Net.
 .
 This package contains the System.Windows.Forms renderer.

Package: uimlnet-gtk-sharp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uimlnet, libgtk-cil
Description: A Uiml renderer for .Net
 Uiml.Net is a free UIML renderer written in C#. It can render a UIML document
 using different widget sets and different platforms. uiml.net supports Gtk#,
 System.Windows.Forms, System.Windows.Forms on the Compact .Net Framework, and a
 small part of Wx.Net.
 .
 This package contains the GTK# renderer.

Package: uimlnet-xml-rpc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uimlnet, xmlrpccs1
Description: A Uiml renderer for .Net
 Uiml.Net is a free UIML renderer written in C#. It can render a UIML document
 using different widget sets and different platforms. uiml.net supports Gtk#,
 System.Windows.Forms, System.Windows.Forms on the Compact .Net Framework, and a
 small part of Wx.Net.

Package: uimlnet-all
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, uimlnet, uimlnet-xml-rpc, uimlnet-swf, uimlnet-compact-swf, uimlnet-gtk-sharp, uimlnet-wxnet
Description: A Uiml renderer for .Net
 Uiml.Net is a free UIML renderer written in C#. It can render a UIML document
 using different widget sets and different platforms. uiml.net supports Gtk#,
 System.Windows.Forms, System.Windows.Forms on the Compact .Net Framework, and a
 small part of Wx.Net.
 .
 This is a metapackage containing dependencies for all UIML.Net packages.


